@model TicketDetailViewModel

@{
    ViewData["Title"] = "Detalles del Ticket";
}

<div class="container">
    <h2 class="mt-4 mb-4">Ticket</h2>
    <div class="mt-2 my-3 bg-white p-4">
        <p class="col-sm-12 text-muted text-end">Creado el: @Model.Date</p>
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <i class="fa-solid fa-circle me-2" style="color: @Model.StatusTicket.Color;"></i>Ticket
                                #
                                @Model.TicketID
                            </h6>
                        </div>
                        <div class="col-md-6 text-end">
                            <a class="btn me-1" aria-label="Edit" asp-action="Edit" asp-route-id="@Model.TicketID">
                                <i class="fa-regular fa-pen-to-square" style="color: #7F56D8;"></i>
                            </a>
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#deleteModal-@Model.TicketID">
                                <i class="fa-solid fa-trash-can" style="color: #7F56D8;"></i>
                            </button>
                        </div>
                    </div>
                    <h5 class="card-title font-weight-bold mr-3">@Model.Title</h5>
                    <p class="card-text text-muted">@Model.Description</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="SelectedStatusID" class="control-label mb-1 fw-bold">Estado</label>
                            <select asp-for="SelectedStatusID" asp-items="Model.Statuses"
                                class="form-select text-muted"></select>
                            <span asp-validation-for="SelectedStatusID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="SelectedPriorityID" class="control-label mb-1 fw-bold">Prioridad</label>
                            <select asp-for="SelectedPriorityID" asp-items="Model.Priorities"
                                class="form-select text-muted">
                            </select>
                            <span asp-validation-for="SelectedPriorityID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="SelectedEngineerID" class="control-label mb-1 fw-bold">Asignado a</label>
                            <select asp-for="SelectedEngineerID" asp-items="Model.Engineers"
                                class="form-select text-muted"></select>
                            <span asp-validation-for="SelectedEngineerID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 p-4 bg-light">
            <div class="d-flex mb-2 justify-content-between align-items-center">
                <h3>Respuestas</h3>
                <button type="button" class="btn btn-primary"
                    style="background-color: #7F56D8; border-color: #7F56D8;" data-bs-toggle="modal"
                    data-bs-target="#agregarRespuestaModal">
                    Agregar Respuesta
                </button>
            </div>
            @foreach (var answer in Model.Answers)
            {
                <div class="card mb-3 bg-white">
                    <div class="card-body">
                        <p class="card-text text-muted text-end small">@answer.CreationTime</p>
                        <p class="card-text">@answer.Name</p>
                        <hr class="my-1">
                        <p class="card-text text-muted small">@answer.Employee.Name</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="agregarRespuestaModal" tabindex="-1" role="dialog"
    aria-labelledby="agregarRespuestaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarRespuestaModalLabel">Agregar Respuesta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Answer", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.TicketID) <!-- Agrega el ID del modelo original como un campo oculto -->

                    <div class="mb-3">
                        <label for="Name" class="form-label">Nombre:</label>
                        <textarea class="form-control" id="Name" name="Name" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                }
            </div>
        </div>
    </div>
</div>